.fileviewer {
    grid-area: view;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3rem 1fr;
    grid-template-areas:
        "filename theme"
        "content content";

    overflow: auto;

    &.empty {
        p {
            grid-area: content;

            font-size: 1.25rem;
            font-style: italic;
            color: #aaa;

            margin: 0;
            margin-left: 2.5em;
        }
    }
}

.filename,
.theme-selector {
    margin: 0;
    padding: 0.75em;

    align-self: center;
    width: fit-content;
}

.filename {
    grid-area: filename;

    font-weight: 600;
    user-select: none;
}

.theme-selector {
    grid-area: theme;
}

.content {
    grid-area: content;
    position: relative;

    display: flex;
    flex-direction: row;

    margin-top: 0.5rem;
    margin-left: 0.5rem;
    border: none;

    overflow: auto;

    font-family: monospace;
    background: transparent;
    color: white;

    white-space: preserve nowrap;

    .line-numbers {
        display: flex;
        flex-direction: column;
        cursor: pointer;

        div {
            min-width: 3ch;
            padding: 0 1ch;

            text-align: end;
            user-select: none;

            color: #777;
            text-decoration: none;

            &:hover {
                color: #ccc;
            }
        }
    }

    .line-highlight {
        position: sticky;
        left: 0;
        z-index: -1;
        min-width: 100%;
        margin-left: -1px;
        margin-right: -100%;

        background-color: #FFBB0045;
        border-left: 1px solid #FFBB00;
    }

    .file {
        padding-left: 0.5rem;
        padding-right: 5em;

        &::after {
            height: 5lh;
            display: block;
            content: "";
        }
    }
}