.fileviewer {
    grid-area: view;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3rem 1fr;
    grid-template-areas:
        "filename theme"
        "content content";

    overflow: hidden;

    &.empty {
        p {
            grid-area: content;

            font-size: 1.25rem;
            font-style: italic;
            color: #aaa;

            margin: 0;
            margin-left: 2.5em;
        }
    }
}

.filename,
.theme-selector {
    margin: 0;
    padding: 0.75em;

    align-self: center;
    width: fit-content;
}

.filename {
    grid-area: filename;

    font-weight: 600;
    user-select: none;
}

.theme-selector {
    grid-area: theme;
}

.content {
    grid-area: content;

    padding: 0.75em;
    padding-right: 2.5em;
    margin-left: 0.5em;
    border: none;

    overflow: auto;
    min-height: max-content;

    font-family: monospace;
    background: transparent;
    color: white;

    white-space: preserve nowrap;
    line-break: strict;

    &::after {
        height: 15rem;
        display: block;
        content: "";
    }
}