.filetree {
    overflow: auto;
    min-width: 20rem;
    max-width: 20rem;

    padding: 1em 0.5em;

    user-select: none;

    a,
    .dir {
        padding: 0.125em 0.25em;

        cursor: pointer;

        &:hover {
            background: #333;
        }
    }

    a {
        text-decoration: none;
        color: inherit;
        display: block;
    }

    a::before {
        content: "📄";
    }

    a[aria-current="page"] {
        font-weight: 900;
    }

    .dir::before {
        content: "📁" !important;
    }

    .dir_children {
        display: none;
        margin-left: 1em;
    }

    .dir_children.open {
        display: block;
    }
}